.services_container{
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
    .title_container{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .subtitle_container{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        & h3{
            font-size: 24px;
            color: #F2F9FF;
            font-weight: 500;
            & span{
                color: #6c63ff;
            }
        }
    }
    .services_section_container{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 2rem;
    }
}