.projects_container{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 2rem;
    .title_container{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .section_projects{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}