.hero_wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .hero_container {
    width: 85%;
    height: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;

    .title {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        & h1{
            color: #F2F9FF;
            text-align: center;
            font-size: 180px;
            font-family: "Teko", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 2rem;
        }
        & img{
          width: auto;
          height: 180px;
        }
    }
    .hero_content{
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .subtitle_container{
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        .subtitle{
          & h3{
            font-size: 36px;
            color: #F2F9FF;
            text-align: left;
          }
        }
        .description{
          & p{
            font-size:24px;
            color: #F2F9FF;
            text-align: left;
            & span{
              color: #6c63ff;
            }
          }
        }
        .list{
          & li{
            gap:0.2rem;
            & p{
              font-size: 18px;
              color: #F2F9FF;
              text-align: left;
            }
          }
        }
        .button_cta{
          width: 45%;
          height: 35px;
          border-radius: 15px;
          background: rgb(22,37,113);
          background: radial-gradient(circle, rgba(22,37,113,1) 0%, rgba(252,70,236,1) 100%);
          padding: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          & a{
            font-size: 18px;
            color: #F2F9FF;
            font-weight: 600;
            text-align: center;
            text-decoration: none;
          }
        }
      }
      .hero_image{
        width: 35%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        & img{
          position: relative;
          height: auto;
        }
      }
    }
  }
  